@font-face {
    font-family: 'Saysettha OT';
    src: url('./SaysetthaOT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Saysettha OT';
    src: url('./SaysetthaOT-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
